<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a Cluster to the Simulator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h1>All The Clusters</h1>
<table border="1" align="center">
    <tr>
        <td>Cluster ID</td>
        <td>Cluster Name</td>
        <td>Cluster Floor</td>
    </tr>
    <tr th:each ="i:${clusters}">
        <td th:text = "${i.id}"></td>
        <td th:text = "${i.name}"></td>
        <td th:text = "${i.floor}"></td>
    </tr>
</table>

<form action="#" th:action="@{/add/node}" th:object="${node}" method="post">
    <div>
        <label>Please select a floor for the node:
            <select th:field = "*{clusterId}" th:remove ="all-but-first">
                <option th:each="i: ${clusters}"
                        th:value="${i.id}" th:text="${i.floor}"> Cluster</option>
            </select>
        </label>
    </div>
    <p>Node name: <input type="text" th:field="*{name}" /></p>
    <p>Floor: <input type="text" th:field="*{room}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>