<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a building to Simulator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Result</h1>
<p th:text="'id:' + ${building.id}" />
<p th:text="'address: ' + ${building.address}" />
<p th:text="'Longitude: ' + ${building.longitude}" />
<p th:text="'Latitude: ' + ${building.latitude}" />
<a href="/add/cluster">Submit another cluster</a>
</body>
</html>

