<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a Sensor to Simulator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Result</h1>
<p th:text="'Senor ID: ' + ${sensor.id}" />
<p th:text="'Sensor name: ' + ${sensor.name}" />
<p th:text="'Sensor Type: ' + ${sensor.type}" />
<p th:text="'Sensor Node ID: ' + ${sensor.nodeId}" />
<p th:text="'Sensor Cluster ID: ' + ${sensor.clusterId}" />
<a href="/add/sensor">Submit Another Sensor</a>
</body>
</html>