<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a cluster to Simulator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
        <h1>Result</h1>
        <p th:text="'id:' + ${cluster.id}" />
        <p th:text="'name: ' + ${cluster.name}" />
        <p th:text="'floor: ' + ${cluster.floor}" />
        <p th:text="'status: ' + ${cluster.status}" />
        <p th:text="'Building Id: ' + ${cluster.buildingId}" />
        <a href="/add/cluster">Submit another cluster</a>
</body>
</html>
